.container {
    display: flex;
    width: 60%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

#slider {
    width: 100%;
    outline-color: transparent;
}

#slider:active {
    cursor: grabbing;
}

#slider:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px #007acc00, 0 0 0 4px rgba(95, 95, 95, 0.322);
}

#slider-help {
    text-align: center;
    font-style: italic;
    color: grey;
    font-size: 12px;
    margin-top: 4px;
}
