figure {
    width: 60%;
    max-width: 75rem;
    margin: 0 auto;
}

#slider {
    width: 100%;
    background-color: rgb(212, 209, 209);
}

#slider:active {
    cursor: grabbing;
}

#slider-help {
    text-align: center;
    font-style: italic;
    color: grey;
    font-size: 12px;
}

